
# Playwright
node_modules/
test-results/
allure-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
test-results.xml
authentication/.auth/auth.json
authentication/.auth/auth2.json